<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil - R-3D</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../static/assests/img/icon/icono.svg"/>
    <meta name="keywords"  content="perfil, editar perfil, post usuario, usuario">
    <meta name="description" content="Registrate y comparte tus proyectos, los cuales podras visualizar en tu perfil.">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/styles.css">

</head>
<body>
    <nav class="nav__complet"> 
        <ul>
            <div class="nav__izq">
                <li>
                    <a href="../index.html">
                        <img src="../static/assests/img/3.png" alt="logo">
                    </a>
                </li>
            </div>
            <div class="nav__der">
                <li id="desktop">
                    <a href="login.html" class="nav" id="if-auth">LOGIN</a>
                </li>
                <li id="desktop">
                    <a href="crear_post.html" class="nav" id="not-auth">CREAR POST</a>
                </li>
                <li id="desktop">
                    <a href="posteos.html" class="nav">POST</a>
                </li>
                <li id="desktop">
                    <a href="msj.html" class="nav" id="not-auth">MENSAJES</a>
                </li>
                <li id="desktop">
                    <a href="../index.html" class="logout" id="not-auth">CERRAR SESION</a>
                </li>
                <li id="desktop">
                    <a href="perfil.html" id="not-auth">
                        <img src="../static/assests/img/avatar/avatar-default.png" alt="avatar">
                    </a>
                </li>
                <div id="mobileVist" class="dropdown" style="float:right;">
                    <button type="button" class="btn btn-link dropbtn"><i class="button-menu"></i></button>
                    <div class="dropdown-content">
                        <li>
                            <a href="login.html" class="nav" id="if-auth">LOGIN</a>
                        </li>
                        <li>
                            <a href="perfil.html" id="not-auth">
                                <img src="../static/assests/img/avatar/avatar-default.png" alt="avatar">
                            </a>
                        </li>
                        <li>
                            <a href="crear_post.html" class="nav" id="not-auth">CREAR POST</a>
                        </li>
                        <li>
                            <a href="posteos.html" class="nav">POST</a>
                        </li>
                        <li>
                            <a href="msj.html" class="nav" id="not-auth">Mensajes</a>
                        </li>
                        <li>
                            <a href="../index.html" class="logout" id="not-auth">CERRAR SESION</a>
                        </li>
                    </div>
                </div>
            </div>
        </ul>
    </nav>

    <section class="class__container">
        <div class="class__avatar">
            <div>
                <a href="../static/assests/img/avatar/avatar-default.png">
                    <img src="../static/assests/img/avatar/avatar-default.png" alt="avatar">
                </a>
            </div>
            <div class="class__edit">
                <a href="creation_perfil.html">EDITAR PERFIL</a>
            </div>
        </div>
        <div class="right__info">
            <h3 id="other_user">
                
            </h3>
            <h4>
                Descripcion:
            </h4>
            <p id="description_other">
                
            </p>
        </div>
    </section>
    
    <article id="posteos" class="container__art">
        
    </article>

    <footer class="foot__complet">
        <div class="foot__left">
            <h3>CONTACTOS:</h3>
            <p>Por cualquier duda o consulta, envíenos un mensaje</p>
            <h4>Email: R-3D@gmail.com</h4>
            <p>También puede llenar el formulario y nosotros
                responderemos su consulta a la brevedad
            </p>
            <li>
                <a href="contact.html">CENTRO DE AYUDA</a>
            </li>
        </div>
        <div class="foot__right">
            <a href="../index.html" class="logo_2">
                <img src="../static/assests/img/3.png" alt="logo">
            </a>
            <li>
                <a href="about.html">SOBRE NOSOTROS</a>
            </li>
        </div>
    </footer>
</body>

<script src="../static/js/perfil_2.js"></script>
<script src="../static/js/index.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
<script src="../static/js/bootstrap.js"></script>
</html>